div{
    margin: 30px; padding: 30px;
}

.red{
    border: 1px solid red;
}

.green{
    border: 1px solid green;
}
.blue{
    border: 1px solid blue;
}
b{
    font-size: 28px;
     background-color: orange;
    position: fixed;
    /* header 부분에 사용하면 good*/ 
    bottom: 100px;
    right: 70px;
}