body{
    margin: 0;
}

.col{
   width: 200px;
   float: left;
}

.col-1{
    height: 200px;
}

.col-2{
   width: 400px;
}

.col-3{
    width: 600px;
}


/* ex) 이 문제 처럼 
id 값 : div1, div2가 같은 줄에 있는데 서로 다른줄로 떨구어 놓으러면?
clear 값 써


#div2{
    clear: left;
}
 */

/* ex) green 옆을 비우고 싶으면? -> 새로운 줄로 변신 */

#div2{
    clear: right;
}

.grid{
    border: 2px solid black;
}
/* 윗부분만 border 입혀 지는데 이 문제를 해결 하고 싶으면 clearfixed 사용*/

.clearfix{
    clear: left;
}

/* -> clearfix 사용하면 이 문제처럼 grid 전체적인 부분을 테두리 넣을수 있어 */






