.div1{
    height: 500px;
    border: 5px solid green;
    background-image: url('../image/KakaoTalk_20220902_145948696.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* 배경을 꽉 채우면서 비율유지*/
    background-position: center center; /* 원하는 부분 자르고 싶을때*/
}