* {
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #0b1f66;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

.header {
  background: #11172b;
  color: #ffffff;
  font-family: 'Titillium Web';
  font-size: 24px;
  font-weight: 300;
  line-height: 37px;
  padding: 12px 0;
}

.container{
  margin:  auto auto;
  width: 640px;
}

#logo{
  height: 24px;
  margin-right: 13px;
 
}
.logo-accent{
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
.logo-accent2{
  font-size: 24px;
  font-weight: 300;
  font-family: 'Times New Roman', Times, serif;
  color:#ffffff;
}
.section{
  width: 640px;
  margin: auto auto;
}
.content1{
  border-radius: 8px;
  background-color: #ebeff8;
  margin-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
}
.info1{
  padding-top: 24px;
  padding-bottom: 8px;
}

#logo2{
  height: 12px;
  margin-right: 13px;
}
.info2{
  font-size: 32px;
  font-family: Titillium web;
  color: #000;
  padding-bottom: 24px;
}
.info3{
  border: 1px solid none;
  width: 300px;
  background-color: #ffffff;
  padding: 8px 0;
  padding-left: 24px;
  font-size: 16px; color: #000;
}
.content1_title{
  padding: 16px 0 24px 0;
  font-size: 16px;
  color: #b3bdd5;
}

hr{
  margin: 24px 0;
  border: none;
  border-bottom: 1px dashed #b6bfd3;
}

.content2{
  border-radius: 8px;
  background-color: #ffffff;
  padding: 0 24px;
}
.content2_title{
  font-size: 12px;
  font-weight: 700;
  font-family: Titillium web;
  color: #16bf97;
  padding: 8px 0;
}
#hr2{
  border: none;
  border-bottom: 1px dashed #dbf1ec;
  padding-bottom: 8px;
}
.conten2_sub_title{
  padding: 26px 0 4px;
  font-size: 12px;
  font-weight: 500; color: #b3bdd5;
}

.conten2_sub_title2{
  font-size: 16px;
  font-weight: 700;
  color: #1a345e;
  padding-left: 10px; padding-right: 10px;
}
#plane{
  width: 18px;
}
.conten2_sub_title3{
  padding: 4px 0;
  font-size: 12px;
  font-weight: 500;
  color: #b3bdd5;
}
.conten2_sub_title4{
  padding-bottom: 4px;
  font-size: 16px;
  color: #0b1f66;
}
.conten2_sub_title5{
  text-align: right;
  padding: 24px 0;

}
.conten2_sub_title5 > a {
  color: #1a345e;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 24px;
  text-decoration: none;

}